<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>生活</key>
	<dict>
		<key>content</key>
		<array>
			<dict>
				<key>img</key>
				<string>m_shenghuo_1</string>
				<key>title</key>
				<string>逛一次超市</string>
				<key>content</key>
				<string>增添生活用品，一个杯子、毛巾、零食...</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生活记忆</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_shenghuo_2</string>
				<key>title</key>
				<string>做一次大扫除</string>
				<key>content</key>
				<string>清理灰尘的同时消除心中的雾霾</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生活记忆</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_shenghuo_3</string>
				<key>title</key>
				<string>做一道菜</string>
				<key>content</key>
				<string>可乐鸡翅、糖醋排骨都是你喜欢的食物</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生活记忆</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_shenghuo_4</string>
				<key>title</key>
				<string>养一只动物</string>
				<key>content</key>
				<string>你说吧，它是随你姓还是随我姓?</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生活记忆</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_shenghuo_5</string>
				<key>title</key>
				<string>给对方剪一次指甲</string>
				<key>content</key>
				<string>你是懒虫，指甲划到手了，还是我帮你剪了吧</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生活记忆</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_shenghuo_6</string>
				<key>title</key>
				<string>搞一次party</string>
				<key>content</key>
				<string>今天我们约些朋友聚聚？</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生活记忆</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_shenghuo_7</string>
				<key>title</key>
				<string>看一次日落</string>
				<key>content</key>
				<string>夕阳下，你的侧脸金光闪闪</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生活记忆</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_shenghuo_8</string>
				<key>title</key>
				<string>一次晨跑</string>
				<key>content</key>
				<string>春季的早晨，空气如此清新，我们早起出去散散步呼吸下新鲜空气</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生活记忆</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_shenghuo_9</string>
				<key>title</key>
				<string>一次野餐</string>
				<key>content</key>
				<string>带上烧烤架我们来到人眼稀少的草坪～</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生活记忆</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_shenghuo_10</string>
				<key>title</key>
				<string>一起吃泡面</string>
				<key>content</key>
				<string>阴雨天气，赖床了，简单点，煮一份泡面熬一熬</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生活记忆</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_shenghuo_11</string>
				<key>title</key>
				<string>给对方生日一个惊喜</string>
				<key>content</key>
				<string>那年你生日，我悄悄的，悄悄的...</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生活记忆</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_shenghuo_12</string>
				<key>title</key>
				<string>一起理头发</string>
				<key>content</key>
				<string>我说发型帅了就是明星，你说头发短了就是年轻</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生活记忆</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
		</array>
		<key>geyan</key>
		<string>假设我的生如夏花，你一定就在七月绽放。</string>
	</dict>
	<key>欣赏</key>
	<dict>
		<key>content</key>
		<array>
			<dict>
				<key>img</key>
				<string>m_xinshang_1</string>
				<key>title</key>
				<string>看一场电影</string>
				<key>content</key>
				<string>你说：喜欢爱情剧，我说：喜欢古装剧；就依你吧！</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自欣赏生活</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xinshang_2</string>
				<key>title</key>
				<string>去一次博物馆</string>
				<key>content</key>
				<string>欣赏历史，感慨历史，美好的生活不易，且行却珍惜</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自欣赏生活</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xinshang_3</string>
				<key>title</key>
				<string>看一场演唱会</string>
				<key>content</key>
				<string>万人合唱，激情澎湃</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自欣赏生活</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xinshang_4</string>
				<key>title</key>
				<string>听一次音乐会</string>
				<key>content</key>
				<string>高山流水，知音难求</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自欣赏生活</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xinshang_5</string>
				<key>title</key>
				<string>泡一天图书馆</string>
				<key>content</key>
				<string>读万卷书，行万里路</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自欣赏生活</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xinshang_6</string>
				<key>title</key>
				<string>看一场球赛</string>
				<key>content</key>
				<string>不同的球赛，相同的精神</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自欣赏生活</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xinshang_7</string>
				<key>title</key>
				<string>看一次日出</string>
				<key>content</key>
				<string>也许在山顶在海边带着厚衣。冷的时候离你更近一点</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自欣赏生活</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xinshang_8</string>
				<key>title</key>
				<string>玩一次游乐园</string>
				<key>content</key>
				<string>恐怖的鬼屋、疯狂的转转机，眼泪下的笑容也让人那么心痛</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自欣赏生活</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xinshang_9</string>
				<key>title</key>
				<string>看一次话剧</string>
				<key>content</key>
				<string>看多了屏幕上的人讲话，偶尔也看看真人表演的戏</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自欣赏生活</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xinshang_10</string>
				<key>title</key>
				<string>逛一次车展</string>
				<key>content</key>
				<string>开一辆车，不会漂移但音乐要大，我喜欢听平凡之路</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自欣赏生活</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xinshang_11</string>
				<key>title</key>
				<string>去一次动物园</string>
				<key>content</key>
				<string>鹦鹉:你好漂亮；熊猫:来抱抱...</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自欣赏生活</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xinshang_12</string>
				<key>title</key>
				<string>玩一次广场舞</string>
				<key>content</key>
				<string>你说等我们老了也要来广场跳恰恰～</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自欣赏生活</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
		</array>
		<key>geyan</key>
		<string>一个不欣赏生活的人，是难以快乐的</string>
	</dict>
	<key>旅行</key>
	<dict>
		<key>content</key>
		<array>
			<dict>
				<key>img</key>
				<string>m_lvxing_1</string>
				<key>title</key>
				<string>去一次海边</string>
				<key>content</key>
				<string>面朝大海，春暖花开</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自旅行日记</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_lvxing_2</string>
				<key>title</key>
				<string>去一次草原</string>
				<key>content</key>
				<string>爱上一匹野马，为ta寻找草原</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自旅行日记</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_lvxing_3</string>
				<key>title</key>
				<string>去一次沙漠</string>
				<key>content</key>
				<string>听说沙漠里的星辰最美！</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自旅行日记</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_lvxing_4</string>
				<key>title</key>
				<string>去一次热带雨林</string>
				<key>content</key>
				<string>湿漉漉的植物气息，就像刚洗完澡的你</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自旅行日记</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_lvxing_5</string>
				<key>title</key>
				<string>去一次高原</string>
				<key>content</key>
				<string>我想青藏高原牛羊成群，别有味的风景</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自旅行日记</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_lvxing_6</string>
				<key>title</key>
				<string>爬一次山</string>
				<key>content</key>
				<string>山底到山顶体验一年四季变换</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自旅行日记</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_lvxing_7</string>
				<key>title</key>
				<string>骑一次马</string>
				<key>content</key>
				<string>停车坐爱枫林晚，霜叶红于二月花</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自旅行日记</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_lvxing_8</string>
				<key>title</key>
				<string>去一次北方看雪</string>
				<key>content</key>
				<string>堆个雪人，打长雪仗</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自旅行日记</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_lvxing_9</string>
				<key>title</key>
				<string>出一次国</string>
				<key>content</key>
				<string>我想带你去浪漫的土耳其</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自旅行日记</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_lvxing_10</string>
				<key>title</key>
				<string>坐一趟超过10小时的火车</string>
				<key>content</key>
				<string>喜欢火车那“哐当哐当”声</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自旅行日记</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_lvxing_11</string>
				<key>title</key>
				<string>在机场过夜</string>
				<key>content</key>
				<string>裹着毛毯，躺在椅子上，左也不是右也不是</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自旅行日记</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_lvxing_12</string>
				<key>title</key>
				<string>去一次迪斯尼乐园</string>
				<key>content</key>
				<string>虐人千百遍，惊心动魄</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自旅行日记</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
		</array>
		<key>geyan</key>
		<string>幸福是你旅途的一站，而非终点</string>
	</dict>
	<key>学习</key>
	<dict>
		<key>content</key>
		<array>
			<dict>
				<key>img</key>
				<string>m_xuexi_1</string>
				<key>title</key>
				<string>写一篇影评</string>
				<key>content</key>
				<string>电影让人寿命延长三倍，因为它让你体验了不同的生活方式</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自热爱学习</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xuexi_2</string>
				<key>title</key>
				<string>回一次母校</string>
				<key>content</key>
				<string>母校，孕育自己的地方</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自热爱学习</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xuexi_3</string>
				<key>title</key>
				<string>翻译一篇外文</string>
				<key>content</key>
				<string>尝试做一次字幕组</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自热爱学习</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xuexi_4</string>
				<key>title</key>
				<string>写一篇旅行日记</string>
				<key>content</key>
				<string>记录旅行的点点滴滴～</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自热爱学习</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xuexi_5</string>
				<key>title</key>
				<string>读xxx有感</string>
				<key>content</key>
				<string>还记得读书时这样的格式吗？</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自热爱学习</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xuexi_6</string>
				<key>title</key>
				<string>录一段教学视频</string>
				<key>content</key>
				<string>每个人都可以成为被人的老师</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自热爱学习</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xuexi_7</string>
				<key>title</key>
				<string>辅导小朋友做作业</string>
				<key>content</key>
				<string>说不定小朋友的作业也会难道你我，哎</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自热爱学习</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xuexi_8</string>
				<key>title</key>
				<string>做一次考试卷</string>
				<key>content</key>
				<string>啊，答案应还给老师了...</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自热爱学习</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xuexi_9</string>
				<key>title</key>
				<string>给对方出一道题</string>
				<key>content</key>
				<string>这个。。。让我想想</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自热爱学习</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
		</array>
		<key>geyan</key>
		<string>读万卷书，行万里路</string>
	</dict>
	<key>运动</key>
	<dict>
		<key>content</key>
		<array>
			<dict>
				<key>img</key>
				<string>m_yundong_1</string>
				<key>title</key>
				<string>打一次羽毛球</string>
				<key>content</key>
				<string>冬天穿着短袖，还热红了你的脸颊</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生命在于运动</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_yundong_2</string>
				<key>title</key>
				<string>打一次篮球</string>
				<key>content</key>
				<string>抢断，投篮，三分，哈哈哈哈...</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生命在于运动</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_yundong_3</string>
				<key>title</key>
				<string>踢一次足球</string>
				<key>content</key>
				<string>哎哟，记得那次踢球后，腿痛了几天</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生命在于运动</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_yundong_4</string>
				<key>title</key>
				<string>一起晨跑</string>
				<key>content</key>
				<string>清新的空气，相同的步伐...</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生命在于运动</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_yundong_5</string>
				<key>title</key>
				<string>一起晚间散步</string>
				<key>content</key>
				<string>散着步，聊着天，一圈又一圈...</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生命在于运动</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_yundong_6</string>
				<key>title</key>
				<string>一起去健身房</string>
				<key>content</key>
				<string>你说八块腹肌，我说我只有一块</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生命在于运动</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_yundong_7</string>
				<key>title</key>
				<string>游一次泳</string>
				<key>content</key>
				<string>旱鸭子，在水里划呀划呀...</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生命在于运动</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_yundong_8</string>
				<key>title</key>
				<string>打一次乒乓球</string>
				<key>content</key>
				<string>敬畏国球</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生命在于运动</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_yundong_9</string>
				<key>title</key>
				<string>一起做瑜伽</string>
				<key>content</key>
				<string>慢动作的有氧运动还是挺累的</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自生命在于运动</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
		</array>
		<key>geyan</key>
		<string>运动是生命的滋润剂,健身是青春的美容师</string>
	</dict>
	<key>时光</key>
	<dict>
		<key>content</key>
		<array>
			<dict>
				<key>img</key>
				<string>m_shiguang_1</string>
				<key>title</key>
				<string>半夜开车兜风</string>
				<key>content</key>
				<string>风撩起你的头发...</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自最美时光</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_shiguang_2</string>
				<key>title</key>
				<string>深夜吃宵夜</string>
				<key>content</key>
				<string>喝着啤酒吃着烧烤...</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自最美时光</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_shiguang_3</string>
				<key>title</key>
				<string>一起煮顿饭</string>
				<key>content</key>
				<string>炒个菜？简单，番茄炒蛋拿手戏</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自最美时光</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_shiguang_4</string>
				<key>title</key>
				<string>秋天扫一次落叶</string>
				<key>content</key>
				<string>我却像落叶归根 ，坠入你心间，几分忧郁，几分孤独、几分心甘情愿</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自最美时光</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_shiguang_5</string>
				<key>title</key>
				<string>一起摘一盆花</string>
				<key>content</key>
				<string>阳台那盆栀子花终于发芽</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自最美时光</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_shiguang_6</string>
				<key>title</key>
				<string>为人生祈祷一分钟</string>
				<key>content</key>
				<string>从来没有虔诚地感谢过活在这个世界里</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自最美时光</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_shiguang_7</string>
				<key>title</key>
				<string>接吻一小时</string>
				<key>content</key>
				<string>缺氧缺氧缺氧啦</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自最美时光</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_shiguang_8</string>
				<key>title</key>
				<string>赖24小时的床</string>
				<key>content</key>
				<string>诶，上厕所算吗?</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自最美时光</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
		</array>
		<key>geyan</key>
		<string>美好时光不容错过</string>
	</dict>
	<key>享受</key>
	<dict>
		<key>content</key>
		<array>
			<dict>
				<key>img</key>
				<string>m_xaingshou_1</string>
				<key>title</key>
				<string>住一次酒店</string>
				<key>content</key>
				<string>风撩起你的头发...</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自享受生活</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xaingshou_2</string>
				<key>title</key>
				<string>看同一部剧</string>
				<key>content</key>
				<string>喝着啤酒吃着烧烤...</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自享受生活</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xaingshou_3</string>
				<key>title</key>
				<string>看同一部动漫</string>
				<key>content</key>
				<string>炒个菜？简单，番茄炒蛋拿手戏</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自享受生活</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xaingshou_4</string>
				<key>title</key>
				<string>玩同一款游戏</string>
				<key>content</key>
				<string>我却像落叶归根 ，坠入你心间，几分忧郁，几分孤独、几分心甘情愿</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自享受生活</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xaingshou_5</string>
				<key>title</key>
				<string>做一次SPA</string>
				<key>content</key>
				<string>阳台那盆栀子花终于发芽</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自享受生活</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xaingshou_6</string>
				<key>title</key>
				<string>泡一次温泉</string>
				<key>content</key>
				<string>从来没有虔诚地感谢过活在这个世界里</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自享受生活</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xaingshou_7</string>
				<key>title</key>
				<string>买一箱零食</string>
				<key>content</key>
				<string>缺氧缺氧缺氧啦</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自享受生活</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xaingshou_8</string>
				<key>title</key>
				<string>开一场party</string>
				<key>content</key>
				<string>诶，上厕所算吗?</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自最美时光</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xaingshou_9</string>
				<key>title</key>
				<string>买一件奢侈品</string>
				<key>content</key>
				<string>诶，上厕所算吗?</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自最美时光</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
			<dict>
				<key>img</key>
				<string>m_xaingshou_10</string>
				<key>title</key>
				<string>坐一次摩天轮</string>
				<key>content</key>
				<string>诶，上厕所算吗?</string>
				<key>type</key>
				<string>1</string>
				<key>address</key>
				<string>来自享受生活</string>
				<key>time</key>
				<string>2020-05-20</string>
			</dict>
		</array>
		<key>geyan</key>
		<string>不管做什么事，一定要快乐、快乐、快乐！</string>
	</dict>
</dict>
</plist>
